<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FRC # 7636 Robomania</title>
    <link href="{loadcss common.css}" rel="stylesheet" type="text/css">
    <link href="{loadcss contact.css}" rel="stylesheet" type="text/css">
    <link href="{loadcss mobile-menu.css}" rel="stylesheet" type="text/css">
    <link href="{loadcss mobile.css}" rel="stylesheet" type="text/css">
    <link href="{loadcss menu.css}" rel="stylesheet" type="text/css">
    <script src="{loadjs jquery.min.js}"></script>
    <script src="{loadjs menu.js}"></script>
    <meta name="description" content="{$meta['description']}">
    <meta name="author" content="NEHSCSA">
    <meta property="og:title" content="{$meta['title']}">
    <meta property="og:site_name" content="{$meta['title']}">
    <meta property="og:description" content="{$meta['description']}">
    <meta property="og:type" content="blog">
    <meta property="og:url" content="https://www.nehscsa.com/frc">
    <meta property="og:image" content="https://www.nehscsa.com/frc/static/image/Team7636 logo.svg">
    <link rel="shortcut icon" href="favicon.ico" />
</head>

<body>
    <div class="main-container">
        <div class="page-bg"></div>
        <div class="title">
            <a href="./">
                <img class="logo" src="./static/image/Team7636 logo.svg" />
            </a>
        </div>
        <br />
        <div id="cssmenu">
            <ul>
                <li>
                    <a href="team.php">Team</a>
                </li>
                <li>
                    <a href="about.php">About</a>
                </li>
                <li>
                    <a href="https://www.nehscsa.com">NEHSCSA</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/7636.Robomania/">facebook</a>
                </li>
                <li>
                    <a href="https://www.flyingv.cc/projects/21652">sponsor</a>
                </li>
            </ul>
        </div>