<center>
    <div class="slider_container">
        <div class="item1">
            <img src="./static/image/photo1.jpg" alt="合照" class="active" />
        </div>
        <div class="item2">
            <img src="./static/image/photo2.jpg" alt="合照" />
        </div>
        <div class="item3">
            <img src="./static/image/photo3.jpg" alt="合照" />
        </div>
    </div>
    <div class="table-about">
        <br>
        <table border="2">
            <tr>
                <td>
                    <h1>
                        <a style="color:white">
                            <span>What is FIRST?</span>
                        </a>
                    </h1>
                </td>
            </tr>
        </table>
        </br>
        </br>
        <table border="2">
            <tr>
                <td align="center">
                    <img src="./static/image/FRClogo.png" width="200" height="100">
                    <h2>
                        <span>FRC(FIRST Robotics Competition)，是一項由美國非營利組織 "FIRST" 所創辦的比賽</span>
                        <br />
                        </br>
                        <span>這是一項全球公認最大的青少年機器人賽事之一</span>
                        <br />
                        <span>主要為世界各地的高中生所設計</span>
                        <br />
                        <span>隊員們將深入學習機械原理、程式設計與電機電子</span>
                        <br />
                        <span>也符合台灣近期推動的STEM教育</span>
                        <br />
                        <span>(Science 科學、Technology 技術、Engineering 工程、Math 數學)</span>
                        <br />
                        <span>FRC非常重視團隊合作，藉由數十人的大型團隊合作，分為各小組</span>
                        <br />
                        <span>於程式 (Java,C++)、電機控制、機械設計(CAD)、機械製作、數據分析等領域進行分工</span>
                        <br />
                        <span>整個團隊在六周內共同完成一個重達四、五十公斤</span>
                        <br />
                        <span>且具高度智慧化、符合賽事規定的大型機器人</span>
                    </h2>
                </td>
            </tr>
        </table>
    </div>
</center>
</body>