<center>
	</br>
	</br>
    <div class="table-about">
        <table border="2">
            <tr>
                <td>
                    <h1>
                        <a style="color:white">
                            <span>About Team 7636</span>
                        </a>
                    </h1>
                </td>
            </tr>
        </table>
		</br>
		</br>
        <table border="2">
            <tr>
                <td align="center">
                    <h2>
                        <span>ROBOMANIA團隊成立於2018年10月10日</span>
                        <br />
						</br>
                        <span>我們的成員們是一群對機器人懷抱著高度熱忱，並努力追逐夢想的熱血學生們</span>
                        <br />
                        <span>成員們全部來自於國立中科實驗高級中學的高中生</span>
                        <br />
                        <span>其中每個人都有著各自的專長</span>
                        <br />
                        <span>透過彼此互相學習、討論與合作</span>
                        <br />
                        <span>投入熱情在各組的分工上</span>
                        <br />
                        <span>各個成員們都一齊在這條漫長的逐夢道路上</span>
                        <br />
                        <span>相互扶持、不斷向前邁進著</span>
                        <br />
                        <span></span>
                        <br />
                    </h2>
                </td>
            </tr>
        </table>
    </div>
</center>
</body>
</html>