<header>
    <div class="team">
        <h2>Team members</h2>
        <h2>團隊成員</h2>
    </div>
</header>
<div class="flex flex-4">
    <div class="box person">
        <div class="image round">
            <img src="./static/image/海龜.jpg" alt="海龜" />
        </div>
        <h3>黃凱輝</h3>
        <p>Team coach</p>
        <h4>團隊教練</h4>
    </div>
    <div class="box person">
        <div class="image round">
            <img src="./static/image/思佑.jpg" alt="思佑" />
        </div>
        <h3>陳思佑</h3>
        <p>Team coach</p>
        <h4>團隊教練</h4>
    </div>
</div>
<br>
<div class="flex flex-4">
    <div class="box person">
        <div class="image round">
            <img src="./static/image/洪翰森.jpg" alt="洪翰森" />
        </div>
        <h3>洪翰森</h3>
        <p>Programming director</p>
        <h4>程式組 組長</h4>
    </div>
    <div class="box person">
        <div class="image round">
            <img src="./static/image/徐子軒.jpg" alt="徐子軒" />
        </div>
        <h3>徐子軒</h3>
        <p>Mechanical design director</p>
        <h4>機械製作與設計 組長</h4>
    </div>
    <div class="box person">
        <div class="image round">
            <img src="./static/image/萱禧.jpg" alt="白萱禧" />
        </div>
        <h3>白萱禧</h3>
        <p>Data analysis director</p>
        <h4>數據資料組 組長</h4>
    </div>
    <div class="box person">
        <div class="image round">
            <img src="./static/image/立倫.jpg" alt="立倫" />
        </div>
        <h3>林立倫</h3>
        <p>Electricity mechanical director</p>
        <h4>電機設備組 組長</h4>
    </div>
</div>
<div id="member">
    <table border="2">
    <caption>
        <font face="Arial" color="white" size="5" align="center">程式組 Programming</font>
    </caption>
		<tr>
            <td><font face="Arial" color="white" size="3" align='center'>張添恩</td>
            <td><font face="Arial" color="white" size="3" align='center'>張量象</td>
            <td><font face="Arial" color="white" size="3" align='center'>范宇軒</td>
        </tr>
    </table>
    <table border="2">
		<tr>
            <td><font face="Arial" color="white" size="3" align='center'>陳昭宇</td>
            <td><font face="Arial" color="white" size="3" align='center'>陳蕙親</td>
            <td><font face="Arial" color="white" size="3" align='center'>机巧儀</td>
            <td><font face="Arial" color="white" size="3" align='center'>蘇俊霖</td>
        </tr>
    </table>
	</br>
	</br>
    <table border="2">
    <caption>
        <font face="Arial" color="white" size="5" align="center">機械製作設計組 Mechanical design</font>
    </caption>
		<tr>
            <td><font face="Arial" color="white" size="3" align='center'>施冠廷</td>
            <td><font face="Arial" color="white" size="3" align='center'>吳佩諭</td>
            <td><font face="Arial" color="white" size="3" align='center'>張哲維</td>
            <td><font face="Arial" color="white" size="3" align='center'>張家昀</td>
		</tr>
    </table>
    <table border="2">
		<tr>
            <td><font face="Arial" color="white" size="3" align='center'>施仲禹</td>
            <td><font face="Arial" color="white" size="3" align='center'>李東原</td>
            <td><font face="Arial" color="white" size="3" align='center'>林子翔</td>
            <td><font face="Arial" color="white" size="3" align='center'>林承靜</td>
		</tr>
    </table>
    <table border="2">
		<tr>
            <td><font face="Arial" color="white" size="3" align='center'>王育萱</td>
            <td><font face="Arial" color="white" size="3" align='center'>童森煇</td>
            <td><font face="Arial" color="white" size="3" align='center'>羅羽辰</td>
            <td><font face="Arial" color="white" size="3" align='center'>蔡鈺真</td>
		</tr>
    </table>
    <table border="2">
		<tr>
            <td><font face="Arial" color="white" size="3" align='center'>陳家芊</td>
            <td><font face="Arial" color="white" size="3" align='center'>陳芷嫻</td>
            <td><font face="Arial" color="white" size="3" align='center'>馬毓謙</td>
            <td><font face="Arial" color="white" size="3" align='center'>黃皓暐</td>
        </tr>
    </table>
    </table>
    <table border="2">
    <caption>
        <font face="Arial" color="white" size="5" align="center">數據資料組 Data analysis</font>
    </caption>
		<tr>
            <td><font face="Arial" color="white" size="3" align='center'>呂運廷</td>
            <td><font face="Arial" color="white" size="3" align='center'>林弘翊</td>
            <td><font face="Arial" color="white" size="3" align='center'>楊登傑</td>
            <td><font face="Arial" color="white" size="3" align='center'>王宣淇</td>
        </tr>
    </table>
    <table border="2">
		<tr>
            <td><font face="Arial" color="white" size="3" align='center'>陳羿愷</td>
            <td><font face="Arial" color="white" size="3" align='center'>黃楷傑</td>
            <td><font face="Arial" color="white" size="3" align='center'>陳民熹</td>
            <td><font face="Arial" color="white" size="3" align='center'>邱偌彤</td>
            <td><font face="Arial" color="white" size="3" align='center'>林孟萱</td>
        </tr>
    </table>
    <table border="2">
        <caption>
            <font face="Arial" color="white" size="5" align="center">電機設備組 Electricity mechanical </font>
        </caption>
		<tr>
            <td><font face="Arial" color="white" size="3" align='center'>王耀明</td>
            <td><font face="Arial" color="white" size="3" align='center'>吳秉勳</td>
            <td><font face="Arial" color="white" size="3" align='center'>顏欣宇</td>
            <td><font face="Arial" color="white" size="3" align='center'>邱廣惠</td>
        </tr>
    </table>
    <table border="2">
		<tr>
            <td><font face="Arial" color="white" size="3" align='center'>黃絜暘</td>
            <td><font face="Arial" color="white" size="3" align='center'>楊世祥</td>
            <td><font face="Arial" color="white" size="3" align='center'>王俋宣</td>
            <td><font face="Arial" color="white" size="3" align='center'>楊東倫</td>
        </tr>
    </table>
    <table border="2">
		<tr>
            <td><font face="Arial" color="white" size="3" align='center'>陳泓安</td>
            <td><font face="Arial" color="white" size="3" align='center'>黃浩哲</td>
            <td><font face="Arial" color="white" size="3" align='center'>陳冠云</td>
            <td><font face="Arial" color="white" size="3" align='center'>孫樺楨</td>
        </tr>
    </table>
</div>
</body>